<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
        <style>
            .datatable {
                position: relative;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                color: rgb(96, 98, 102);
                overflow: hidden;
                flex: 1 1 0%;
            }
            .datatable td, .datatable th {
                padding: 12px 0;
                min-width: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                position: relative;
                text-align: left;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>权限管理<small>权限组管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
                    <el-breadcrumb-item>权限组管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="权限组序号/权限组名称/权限关键字" v-model="pagination.queryString" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                        <el-button @click="handleCurrentChange(1)" class="dalfBut"  icon="el-icon-search">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()"  icon="el-icon-plus">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="code" label="权限组序号" align="center"></el-table-column>
                        <el-table-column prop="name" label="权限组名称" align="center"></el-table-column>
                        <el-table-column prop="keyword" label="权限关键字" align="center"></el-table-column>
                        <el-table-column prop="description" label="权限描述" align="center"></el-table-column>
                        <el-table-column label="操作" align="center" width="400px">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)" icon="el-icon-edit">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)" icon="el-icon-delete">删除</el-button>
                                <el-button size="mini" type="primary" @click="handleAssociation(scope.row)" icon="el-icon-search">查询关联角色</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增权限" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="权限编码" prop="code">
                                            <el-input v-model="formData.code"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="权限名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="权限关键字" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限描述">
                                            <el-input  type="textarea" v-model="formData.description"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑权限" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="权限名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="权限关键字" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限描述">
                                            <el-input v-model="formData.description" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!--查询关联角色-->
                    <div class="add-form">
                        <el-dialog title="关联角色" :visible.sync="dialogFormVisible4RoleName">
                            <h1>{{RoleName}}</h1>
                            <div slot="footer" class="dialog-footer">
                                <el-button type="primary" @click="handleAssociation(row)">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                activeName:'first',//添加/编辑窗口Tab标签名称
                pagination: {//分页相关属性
                    currentPage: 1,
                    pageSize:10,
                    total:100,
                    queryString:null,
                },
                RoleName: [],//角色名称
                dataList: [],//列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//控制添加窗口显示/隐藏
                dialogFormVisible4Edit:false,//控制编辑窗口显示/隐藏
                dialogFormVisible4RoleName:false,//控制查询关联角色窗口显示/隐藏
                rules:{
                    code:[{required:true, message:'编码为必填项', trigger:'blur'}],
                    name:[{required:true, message:'编码为必填项', trigger:'blur'}],
                    keyword:[{required:true, message:'编码为必填项', trigger:'blur'}],
                    description:[{required:true, message:'编码为必填项', trigger:'blur'}]
                },
            },


            created() {
                this.findPage();
            },
            methods: {
                //编辑
                handleEdit() {
                    axios.post("/permission/edit.do",this.formData).then(res=>{
                        //弹出窗口
                        this.dialogFormVisible4Edit = false;
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? 'success':'error'
                        });
                        this.findPage();//分页查询
                    })
                },
                //添加
                handleAdd () {
                    //前端验证非常重要
                    this.$refs["dataAddForm"].validate((valid) => {
                        if (valid) {
                            //发送请求将表单数据提交后台
                            axios.post('/permission/add.do',this.formData).then(res=>{
                                //无论执行成功还是失败都关闭窗口
                                this.dialogFormVisible = false;
                                this.$message({
                                    message: res.data.message,
                                    type: res.data.flag ? 'success':'error'
                                });
                                this.findPage();//分页查询
                            })
                        }
                    });
                },
                //分页查询
                findPage() {
                    var parms = {
                        currentPage:this.pagination.currentPage,
                        pageSize:this.pagination.pageSize,
                        queryString:this.pagination.queryString
                    }
                    axios.post("/permission/findPage.do",parms).then(res=>{
                        //后台返回的是PageResult total rows
                        this.pagination.total = res.data.total;
                        this.dataList = res.data.rows;
                    })
                },
                // 重置表单
                resetForm() {
                    this.formData = {};
                    this.checkitemIds = [];
                    this.activeName ='first';
                },

                // 弹出添加窗口
                handleCreate() {
                    //弹出新增检查项窗口
                    this.dialogFormVisible = true;
                    this.resetForm();
                },

                // 弹出编辑窗口
                handleUpdate(row) {
                    this.resetForm();
                    //弹出窗口
                    this.dialogFormVisible4Edit = true;
                    //根据检查项id查询检查项对象 回显到弹出窗口中
                    axios.get("/permission/findById.do?id="+row.id).then(res=>{
                        this.formData = res.data.data;
                    })
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    this.$confirm('此操作将永久删除权限记录, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        //发送删除请求
                        axios.get("/permission/deleteById.do?id="+row.id).then(res=>{
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success':'error'
                            });
                            this.findPage();//分页查询
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },

                // 查询关联角色
                handleAssociation(row) {
                    //弹出查询关联角色窗口
                    this.dialogFormVisible4RoleName = true;
                    axios.get("/permission/findRoleName.do?id="+row.id).then(res=>{
                        this.RoleName = res.data.data;
                        this.$message({
                            message:res.data.message,
                            type:res.data.flag ? 'success':'error'
                        });
                    })
                }
            }
        })
    </script>
</html>
